.container-projects {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

@media (min-width: 40em) {
    .container-projects {
        margin-inline: auto;
        width: min(60%, 70.5rem);
    }
}

#projects {
    padding: 3rem;

    h1 {
        padding-top: 2rem;
    }
}