  .toolbar {
    position: fixed;
    background-color: #282c34;
    min-height: 4vh;
    height: 8vh;
    top: 0;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: #252325 0px 1px 15px;
    transition: height 0.7s;
    z-index: 10;
    min-width: 100%;
    font-family: 'Montserrat', sans-serif;    

  .Name-text {
    font-size: calc(2px + 2vmin);
    text-align: left;
    width: 60%;
    color: #fff;
    margin: 0;
    font-weight: 700;
  }

  .sections {
    display: flex;
    flex-direction: row;
    width: 30%;
    font-size: calc(2px + 2vmin);
  
    a {
        flex-basis: 40%;
        cursor: pointer;
        color: #fff;
        text-decoration: none;
        text-align: center;
    }
  
    a:hover {
        font-weight: 700;
    }

  }
}

@media (max-width: 40em) {
  .sections {
    flex-basis: 90%;
    margin-inline: .7rem;

  }

  .toolbar .Name-text {
    margin-inline: .7rem;
  }
}

.toolbar.active {
  height: 5vh;
  opacity: 0.8;
}