.header {
    height: 150px;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin: 6rem 5rem 0rem 5rem;
    text-align: center;

    h1 {
        color: white;

    }
}


span {
    padding: .5rem;
}