.contact-title {
     padding-top: 0;
}

.form {
    text-align: left;
    padding: 2rem;
}

.split-form {
    flex-direction: column;
    display: flex;
    align-items: center;
}

@media (min-width: 40em) {
    .split-form {
        flex-direction: row; 
        align-items: baseline;
    }

    .split-form > * {
        flex-basis: 100%;
    }

    .top-pad {
        padding-top: 0rem;
    }
}

.top-pad {
    padding-top: 9.3rem;
}

.was-sent {
    color: rgb(47, 0, 128);
}

.not-sent {
    color: rgb(191, 17, 17);
}