.App {
    text-align: center;
    color: white;
    background-image: url('https://www.hdwallpapers.in/download/background_4k_hd_adventure_time-1920x1080.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

