.App {
    text-align: center;
    color: white;
    background-image: url('https://www.nasa.gov/sites/default/files/thumbnails/image/hubble_flamenebula2_display_0.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

